@use '../../../global_style/reusable_variables/index' as v;
.main{
    width: 100%;
    position: absolute;
    bottom:0;
    .titleBar{
        width: 100%;
        height: 49px;
        .titleBarContainer{
            width: 99%;
            height: 40px;
            background-color:rgb(49, 49, 49);
            border-radius: 5px;
            padding: 9px 15PX;
            
            p{
                font-family: v.$fs;
                color: v.$pest;
                font-weight: bold;
                font-size: 15px;
                display: flex;
                cursor: pointer;
            }
       }
    }
}

@media screen and (max-width:1242px) {
    .main{
        position:fixed;
        .titleBar{
            .titleBarContainer{
                justify-content: center;
                .displayExpire{
                    display:none
                };
            }
        }
    }
}