@use '../../../global_style/reusable_variables/index' as v;


.main{
    padding: 5px 10px;
    .container{
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        height: auto;
        .allCarts{
            width: 300px;
            height: 180px;
            background-color: rgb(243, 211, 209);
            margin: 10px;
            cursor: pointer;
            div{
                text-align: center;
                i{
                    font-size: 65px;
                }
                p{
                    font-family: v.$fs;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width:1242px) {
    .main > .container > .allCarts{
        width: 100%;
    }
}