@use '../../../global_style//reusable_variables/index' as v;

.main{
    width: 100%;
    height: 100vh;
    background-color: white;
    .ifontColor{
        color: white;
    }
    .iActive{
        color: rgba(0, 255, 42, 0.822)
    }
    .iconBar{
        width: 3%;
        height: 100vh;
        background-color: v.$lightPrimary;
        position: fixed;
        top: 0;
        z-index: 2;
       
        .navigation_icon {
            width: 100%;
            height: 50px;
            text-align: center;
            border-bottom: 1px solid white;
            margin-bottom: 1px ;
            i{
                font-size: 20px;
                cursor: pointer;
            }          
        }        
    }
    .container{
        width: 100%;
        position: relative;
        height: 100vh;
        .part1{
            width: 20%;
            background-color: v.$primary;
            transition: .3s ;
            font-family: v.$fs;
            z-index: 1;
            .navigation_title{
                color: white;
                width: 100%;
                height: 50px;
                margin-bottom: 1px;
                border-bottom: 1px solid white;
                p{            
                    margin-left: 20%;
                    cursor: pointer;
                }
            }
            .slideBtn{
                position: absolute;
                right: -15px;
                top: 50%;
                background-color: white;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                font-size: 28px;
                border: 2px solid v.$lightGray;
                cursor: pointer;
                opacity: 0;
                transition: .5s ease-in-out;
            }
        }
        .part1:hover .slideBtn{
            opacity: 1;
        }
        .part2{
            height: 100vh;
            transition: .3s ;
            position: fixed;
            top: 0;
            right: 0;
        }
        .part2:hover .slideBtn{
            z-index: -1;
        }
        
    }
}

@media (max-width: 1242px) {
  .main{
    .iconBar{
        display: none;
    }
    .container{
        .part1{
            display: none;
            width: none;
        }
        .part2{
           display: none;
        }
        .part2Res{
            width: 100%;
            position: static;
        }
    }
  }
}
@media (min-width: 1243px) {
  .main > .container > .part2Res{
        display: none;
  }
}
