@use '../../../../global_style/reusable_variables/index' as v;
.superMain{
    .main{
    font-family: v.$fs;
    user-select: none;
    div{
        .inputAreaOne, .inputAreaTwo{
        
            height: 245px;
            position: relative;
            // background-color: green;
            .container{
                width: 100%;
                height: 240px;
                background-color: rgb(209, 222, 247);
                border-radius: 10px;
                border: 1px solid gray;
                padding: 10px 10px;
                .product_info{
                    width: 200px;
                    // background-color: red;
                }
                .productCalculation{
                    width: 300px;
                    height: 135px;
                    .priceQuantityCalculation{
                        width: 90px;
                        height: 135px;
                        background-color: skyblue;
                        border-radius: 10px;
                        padding: 10px;
                        font-size: 12px;
                        color: white;
                        font-weight: bold;
                        .quantityBtn, .priceBtn, .scanBtn{
                            width: 90%;
                            height: 27%;
                            margin: auto;
                            margin-bottom: 10px;
                            border-radius: 8px;
                        }
                        .quantityBtn{
                            background-color: orange;
                        }
                        .priceBtn{
                            background-color: green;
                        }
                        .scanBtn{
                            background-color: lightcoral;
                        }
                    }
                    .numberCalculation{
                        width: 200px;
                        height: 135px;
                        
                        border-radius: 10px;
                        display: grid;
                        grid-template-columns: auto auto auto;
                        padding: 10px;
                        div{
                            cursor: pointer;
                        }
                        div:hover{
                           p {
                            color: yellow;
                            font-weight: bold;
                           }
                        }
                    }
                   
                    
                    p{
                        text-align: center;
                        color: white;
                        font-weight: bold;
                    }
                }
                .calculationAndSubmit{

                    .productCalculation{
                        width: 300px;
                        height: 135px;
                        .priceQuantityCalculation{
                            width: 90px;
                            height: 135px;
                            background-color: skyblue;
                            border-radius: 10px;
                            padding: 10px;
                            font-size: 12px;
                            color: white;
                            font-weight: bold;
                            .quantityBtn, .priceBtn, .scanBtn{
                                width: 90%;
                                height: 27%;
                                margin: auto;
                                margin-bottom: 10px;
                                border-radius: 8px;
                            }
                            .quantityBtn{
                                background-color: orange;
                            }
                            .priceBtn{
                                background-color: green;
                            }
                            .scanBtn{
                                background-color: lightcoral;
                            }
                        }
                        .numberCalculation{
                            width: 200px;
                            height: 135px;
                            
                            border-radius: 10px;
                            display: grid;
                            grid-template-columns: auto auto auto;
                            padding: 10px;
                            div{
                                cursor: pointer;
                            }
                            div:hover{
                               p {
                                color: yellow;
                                font-weight: bold;
                               }
                            }
                        }
                       
                        
                        p{
                            text-align: center;
                            color: white;
                            font-weight: bold;
                        }
                    }
                    .submitSale{
                        width: 100%;
                        height: 35px;
                        margin-top: 10px;
                        button{
                            background: none;
                            outline: none;
                            border: none;
                            padding: 10px 20px;
                            color: white;
                            font-weight: bold;
                            cursor: pointer;
                            border-radius: 10px;
                        }

                        .submitSaleAddCustomer{
                            background-color:orangered;
                            padding: 10px 20px;
                        }
                        .submitSaleAddSale{
                            background-color:v.$primary;
                            width: 76.5%;
                            padding: 10px 29px;
                        }
                        .submitSale_switch{
                            background-color:v.$primary;
                            width: 20%;
                            padding: 10px 29px;
                            cursor: pointer;
                            
                        }
                        .submitInvoice{
                            background-color:v.$primary;
                            padding: 10px 25px;
                        }
                    }
                }
                .showQuantityAndPrice{
                    width: 200px;
                    height: 165px;
                    .showQuantityAndPriceContainer{ 
                        display: flex;
                        align-items: baseline;
                        justify-content: space-between;
                    }
                    .totalPriceQuantityValue{
                        width: 200px;
                        height: 30px;
                    }
                }
                
            }
        }
        .inputAreaOne{
            width: 79%;
            p{
                font-size: 13px;
                margin-bottom: 5px;
            }
        }
        .inputAreaTwo{
            width: 20%;
            position: relative;
            color: red;
            font-weight: bold;
            img{
                border-radius: 10px;
            }
        }
    }

    .navigationIcon{
        width: 99%;
        height: 17px;
        margin: 5px 5px;
        .inputPart{
            label{
                margin-right: 5px;
                font-size: 14px;
            }
            input{
                margin-right: 15px;
            }
            i{
                cursor: pointer;
                margin-right: 20px;
            }
            span{
                margin-left: 20px;
                font-size: 13px;
            }
        }
        .btnPart{
            i{
                font-size: 12px;
                color: gray;
                cursor: pointer;
                margin-left: 5px;
            }
        }
    }
    .tableArea{
        width: 100%;
        // overflow-x: hidden;
        // overflow-y: scroll;
        overflow: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    
    table {
        width: 99%;
        border-collapse: collapse;
        margin: 5px 5px;
        box-shadow: 0 2px 3px rgba(0,0,0,0.1);
        font-size: 12px;
    }
    th, td {
        padding: 4px;
        border: 1px solid #dddddd;
        text-align: left;
    }
    th {
        background-color: #f4f4f4;
    }

    }
    .mobileMain{
        display: none
    }
};



@media screen and (max-width:1242px) {
        .superMain{
                .main{
                display: none;
            };
            .mobileMain{
                display: block;
                background-color: v.$primary;
                width: 100%;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                color:v.$white;
                font-family:v.$fs
            }
    }
}