@use '../../../global_style/reusable_variables/index' as v;
.main{
    .titleBar{
        width: 100%;
        height: 49px;
        .titleBarContainer{
            width: 99%;
            height: 40px;
            background-color:v.$pest;
            border-radius: 5px;
            padding: 9px;
            .mappedRoute{
                font-family: v.$fs;
                color: v.$white;
                font-weight: bold;
                font-size: 16px;
                position: relative;
                span, p{
                    cursor: pointer;
                }
                .userDetails{
                    width: 200px;
                    height: auto;
                    background-color: v.$pest;
                    position: absolute;
                    top: 45px;
                    right: -10px;
                    z-index: 10;
                    border-radius: 10px;
                    padding: 5px;
                    color: white;
                    font-size: 15px;
                    user-select: none;

                    p{
                        cursor: pointer;
                    } 
                }
            }
       }
    }
}


@media screen and (max-width:1242px) {
    .main > .titleBar{
        display: none;
    }    
}