.main{
    width: 100%;
    position: fixed;
    bottom: 50px;
    padding: 0 10px;
    user-select: none;
    .container{
        width: 170px;
        
        .pageBox{
            width: 25px;
            height: 25px;
            background-color: rgb(88, 87, 87);
            color: white;
            cursor: pointer;
        }
    }
}