@use '../../../../global_style//reusable_variables/index' as v;
.main{
    font-family: v.$fs;
    div{
        .inputAreaOne, .inputAreaTwo{
            height: 135px;
            position: relative;
            // background-color: green;
            .container{
                width: 100%;
                height: 125px;
                background-color: rgb(209, 222, 247);
                border-radius: 10px;
                border: 1px solid gray;
                padding: 10px 10px;
                .titleName{
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    left: 26px;
                    z-index: 4;
                }
                .border_remover{
                    // width: 120px;
                    height: 10px;
                    background-color: white;
                    position: absolute;
                    top: 5px;
                    left: 20px;
                    background-color: rgb(209, 222, 247);
                }
                .inputFields{
                    width: 100%;
                    margin-bottom: 2px;
                    font-family: v.$fs;
                    font-size: 13px;
                }

                input{
                    width: 30%;
                }
                select{
                    width: 50%;
                }
            }

            .inputAreaOne_footer{
                width: 100%;
                height: 20px;
                margin-top: 7px;
                .inputAreaOne_footer_container{
                    min-width: 250px;
                    max-width: auto;
                    // background-color: red;
                    height: 20px;
                    
                }
            }
        }
        .inputAreaOne{
            width: 79%;
        }
        .inputAreaTwo{
            width: 20%;
            position: relative;
            .inputAreaTwoContainer{
                margin-top: 10px;
                width: 100%;
                height: 100%;
                font-size: 13px;
                i{
                    font-size: 80px;
                    color: rgb(167, 167, 167);
                   
                    position: absolute;
                    top: 20%;
                    left: 30%;
            
                }
                input{
                    position: absolute;
                    top: 20%;
                    left: 15%;
                    opacity: 0;
                }
                img{
                    
                    display: block;
                    margin: auto;
                    border-radius: 10px;
                }
                .uploading{
                    position: absolute;
                    bottom: 13px;
                    left: 36%;
                    font-style: italic;
                    font-size: 11px;
                    font-weight: bold;
                    color: green;
                }
            }
        }
    }

    .navigationIcon{
        width: 99%;
        height: 5px;
        margin: 5px 5px;
        .inputPart{
            margin-top: 6px;
            label{
                margin-right: 5px;
                font-size: 14px;
            }
            input{
                margin: 0 15px;
            }
            i{
                cursor: pointer;
                margin-right: 20px;
            }
            span{
                margin-left: 20px;
                font-size: 13px;
            }
            select{
                margin: 0px 20px;
            }
        }
        .btnPart{
            i{
                font-size: 12px;
                color: gray;
                cursor: pointer;
                margin-left: 5px;
            }
        }
    }
    
    
    

}

@media screen and (min-width:1243px) {
    .main{
        .tableChart{
            display: block;
        }
        .tableChartRes{
            display: none;
        }
    }
}


@media screen and (max-width:1242px) {
    .main{
        margin-top: 5px;
        div{
            .inputAreaOne, .inputAreaTwo{
                
                width:100%;
                .container{
                    .inputFields{
                        label{
                            display: none;
                        }
                    }
                }
            }
        }
        .navigationIcon{
            display: none;
        }
        .tableChart{
            display: none;
        }
        .tableChartRes{
            display: block;
        }
    }
}