@use '../../../../global_style//reusable_variables/index' as v;

.main{
    font-family: v.$fs;
    .title{
        width: 100%;
        height: 20px;
        padding: 0px 8px;
        font-size: 13px;
        i{
            cursor: pointer;
            margin-right: 10px;
        }
        label{
            margin: 0 5px
        }
        input{
            margin: 0 10px;
        }
    }
    .titleRes{
        display: none;
    }

    .tableArea{
        width: 100%;
        // overflow-x: hidden;
        // overflow-y: scroll;
        overflow: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    
    .table_responsive{
     width: 100%;
    overflow-x: auto !important;
    overflow-y: hidden;
    display: block;
    -webkit-overflow-scrolling: touch;
    min-width: 0;
     table {
        width: 99%;
        border-collapse: collapse;
        margin: 5px 5px;
        box-shadow: 0 2px 3px rgba(0,0,0,0.1);
        font-size: 12px;
    }
    th, td {
        padding: 4px;
        border: 1px solid #dddddd;
        text-align: left;
    }
    th {
        background-color: #f4f4f4;
    }
    /* Prevent table from breaking */
    .table_responsive table {
    min-width: 1242px; /* keeps layout intact */
    }

    /* Optional: smoother scrolling */
    .table-responsive {
    -webkit-overflow-scrolling: touch;
    }
   }
}

@media (max-width:1242px){
    .main{
        margin-top:10px;
        .title{
            display: none;
        }
        .titleRes{
            display: block;

            width: 100%;
        height: auto;
        padding: 0px 8px;
        font-size: 13px;
        i{
            cursor: pointer;
            margin-right: 10px;
        }
        
        input{
            margin: 0 10px;
        }
        }
        table {
            font-size: 11px;
        }

        th, td {
            padding: 3px;
            white-space: nowrap;
        }
    }
}