@use '../../../../global_style//reusable_variables/index' as v;
.main{
    font-family: v.$fs;
    div{
        .inputAreaOne, .inputAreaTwo{
            height: 200px;
            position: relative;
            // background-color: green;
            .container{
                width: 100%;
                height: 190px;
                background-color: rgb(209, 222, 247);
                border-radius: 10px;
                border: 1px solid gray;
                padding: 10px 10px;
                .titleName{
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    left: 26px;
                    z-index: 4;
                }
                .border_remover{
                    // width: 120px;
                    height: 10px;
                    background-color: white;
                    position: absolute;
                    top: 5px;
                    left: 20px;
                    background-color: rgb(209, 222, 247);
                }
                .inputFields{
                    width: 100%;
                    margin-bottom: 2px;
                    font-family: v.$fs;
                    font-size: 13px;
                }

                input{
                    width: 70%;
                }
                select{
                    width: 50%;
                }
            }

            .inputAreaOne_footer{
                width: 100%;
                height: 20px;
                margin-top: 77px;
                .inputAreaOne_footer_container{
                    min-width: 250px;
                    max-width: auto;
                    // background-color: red;
                    height: 20px;
                    
                }
            }
        }
        .inputAreaOne{
            width: 79%;
        }
        .inputAreaTwo{
            width: 20%;
            position: relative;
            .inputAreaTwoContainer{
                width: 100%;
                height: 100%;
                i{
                    font-size: 80px;
                    color: rgb(167, 167, 167);
                   
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
            
                }
                input{
                    position: absolute;
                    top: 20%;
                    left: 15%;
                    opacity: 0;
                }
                img{
                    
                    display: block;
                    margin: auto;
                    border-radius: 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .uploading{
                    position: absolute;
                    bottom: 13px;
                    left: 36%;
                    font-style: italic;
                    font-size: 11px;
                    font-weight: bold;
                    color: green;
                }
            }
        }
    }

    .navigationIcon{
        width: 99%;
        height: 5px;
        margin: 5px 5px;
        .inputPart{
            margin-top: 6px;
            label{
                margin-right: 5px;
                font-size: 14px;
            }
            input{
                margin: 0 15px;
            }
            i{
                cursor: pointer;
                margin-right: 20px;
            }
            span{
                margin-left: 20px;
                font-size: 13px;
            }
            select{
                margin: 0px 20px;
            }
        }
        .inputPartRes{
            display: none;
        }
        .btnPart{
            i{
                font-size: 12px;
                color: gray;
                cursor: pointer;
                margin-left: 5px;
            }
        }
    }
    .tableArea{
        width: 100%;
        // overflow-x: hidden;
        // overflow-y: scroll;
        overflow: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    
     .table_responsive{
     width: 100%;
    overflow-x: auto !important;
    overflow-y: hidden;
    display: block;
    -webkit-overflow-scrolling: touch;
    min-width: 0;
     table {
        width: 99%;
        border-collapse: collapse;
        margin: 5px 5px;
        box-shadow: 0 2px 3px rgba(0,0,0,0.1);
        font-size: 12px;
    }
    th, td {
        padding: 4px;
        border: 1px solid #dddddd;
        text-align: left;
    }
    th {
        background-color: #f4f4f4;
    }
    /* Prevent table from breaking */
    .table_responsive table {
    min-width: 1242px; /* keeps layout intact */
    }

    /* Optional: smoother scrolling */
    .table-responsive {
    -webkit-overflow-scrolling: touch;
    }
   }

}

@media (max-width:1242px){
    .main{
        margin-top: 10px;
        div{
            .inputAreaOne, .inputAreaTwo{
                width:100%;
                height: auto;
                margin-bottom: 5px;
                .container{
                    height: auto;
                }
                .inputFields{
                    label{
                        display: none;
                    }
                }
            }
            .inputAreaOne{
                .container{
                    .titleName{
                        top: -10px;
                    }
                    .border_remover{
                        top: 0px;
                    }
                }
            }
            .inputAreaTwo{
                height: 100px;
                .container{
                    height: 95px;
                    .titleName{
                        top: -7px;
                    }
                    .border_remover{
                        top: 3px;
                    }
                }
                .inputAreaTwoContainer{
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            
        }
        .navigationIcon{
            .inputPart{
                display: none;
            }
            .inputPartRes{
                display: block;
                font-size: 13px;
                i{
                    margin-left: 5px;
                }
                input{
                    margin-left: 5px;
                }
            }
        }
         table {
            font-size: 11px;
        }

        th, td {
            padding: 3px;
            white-space: nowrap;
        }
    }
}