@use "../../global_style//reusable_variables/index" as v;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$font:"DM Sans", sans-serif;

.main{
    width: 100%;
    height: 100vh;
    background-color: v.$primary;
    .container{
        width: 40%;
        height: 80vh;
        display: block;
        font-family: $font;
        text-align: center;
        img{
            display: block;
            margin: auto;
            margin-bottom: 15px;
        }
        .registration_form{
            background-color: v.$gray;
            width: 100%;
            max-width: 600px;
            margin: auto;
            height: 220px;
            border-radius: 20px;
            border: 5px solid v.$lightGray;
            padding: 0 15px;
            position: relative;

            h4, h5{
                font-family: $font;
                color: white;
                text-align: center;
                padding: 10px;
            }

            input{
                width: 100%;
                margin-bottom: 25px;
                height: 30px;
                padding: 5px 10px;
                border-radius: 8px;
                outline: none;
                border: none;
            }

            
            i{
                position: absolute;
                right: 25px;
                top: 103px;
                cursor: pointer;
            }

            .submit{
                background-color: v.$blue;
                color: rgba(255, 255, 255, 1);
                cursor: pointer;
            }
            .forget_pass{
                position: absolute;
                bottom: 65px;
                right: 20px;
                text-decoration: underline;
                font-family: $font;
                font-size: 12px;
                color: v.$pest;
                cursor: pointer;
            }
        }
    }

    .displayWidthLimitControll {
        display: none;
        background-color: v.$primary;
        width: 100%;
        height: 100vh;

        div{
            width: 100%;
            height: 100vh;
            p{
                color: white;
                font-family: v.$fs;
            }
        }
    }
}

@media screen and (max-width: 1242px) {

   .main > .displayWidthLimitControll {
        display: block;
    }

    .main > .container {
        display: none;
    }
}
