@use '../../../../global_style//reusable_variables/index' as v;
.main{
    font-family: v.$fs;
    div{
        .inputAreaOne, .inputAreaTwo{
        
            height: auto;
            position: relative;
            // background-color: green;
            .container{
                width: 100%;
                height: auto;
                background-color: rgb(209, 222, 247);
                border-radius: 10px;
                border: 1px solid gray;
                padding: 10px 10px;
                .titleName{
                    font-weight: bold;
                    position: absolute;
                    top: -6px;
                    left: 26px;
                    z-index: 4;
                }
                .border_remover{
                    // width: 120px;
                    height: 10px;
                    background-color: white;
                    position: absolute;
                    top: 3px;
                    left: 20px;
                    background-color: rgb(209, 222, 247);
                }
                .inputFields{
                    width: 100%;
                    margin-bottom: 2px;
                    font-family: v.$fs;
                    font-size: 13px;
                }

                input{
                    width: 70%;
                }
                select{
                    width: 70%;
                }
            }

            .inputAreaOne_footer{
                width: 100%;
                height: auto;
                margin-top: 7px;
                .inputAreaOne_footer_container{
                    width: 620px;
                    height: auto
                    
                }
            }
        }
        .inputAreaOne{
            width: 99.5%;
            height: auto;
            .container{
                height: auto;
            }
        }
        .inputAreaTwo{
            // width: 20%;
            position: relative;
            .inputAreaTwoContainer{
                width: 100%;
                height: 100%;
                i{
                    font-size: 80px;
                    color: rgb(167, 167, 167);
                   
                    position: absolute;
                    top: 20%;
                    left: 30%;
            
                }
                input{
                    position: absolute;
                    top: 20%;
                    left: 15%;
                    opacity: 0;
                }
                img{
                    
                    display: block;
                    margin: auto;
                    border-radius: 10px;
                }
                .uploading{
                    position: absolute;
                    bottom: 13px;
                    left: 36%;
                    font-style: italic;
                    font-size: 11px;
                    font-weight: bold;
                    color: green;
                }
            }
        }
    }

     .table_responsive{
        width: 100%;
        overflow-x: auto !important;
        overflow-y: hidden;
        display: block;
        -webkit-overflow-scrolling: touch;
        min-width: 0;
     table {
        width: 99%;
        border-collapse: collapse;
        margin: 5px 5px;
        box-shadow: 0 2px 3px rgba(0,0,0,0.1);
        font-size: 12px;
    }
    th, td {
        padding: 4px;
        border: 1px solid #dddddd;
        text-align: left;
    }
    th {
        background-color: #f4f4f4;
    }
    /* Prevent table from breaking */
    .table_responsive table {
    min-width: 1242px; /* keeps layout intact */
    }

    /* Optional: smoother scrolling */
    .table-responsive {
    -webkit-overflow-scrolling: touch;
    }
   }

}


@media (max-width:1242px){
    .main{
        margin-top: 10px;
        div{
            .inputAreaOne{
                .container{
                    .inputFields{
                        margin-top: 2px;
                        label{
                            display: none;
                        }
                        input{
                            width: 100%;
                        }
                        select{
                            width: 100%
                        }
                    }
                }
                .inputAreaOne_footer{
                        .inputAreaOne_footer_container{
                            width: 100%;
                            flex-wrap: wrap;
                            button{
                                display: block;
                                width: 100%;
                                margin-bottom: 4px;
                            }
                        }
                    }
            }
        }
           table {
            font-size: 11px;
        }

        th, td {
            padding: 3px;
            white-space: nowrap;
        }
    }
}